---
import { LoginButton } from "./LoginButton";
---

<div id="footer" role="navigation">
  <p>
    <a href="/imprint" aria-label="Imprint and contact info" class="social"
      >IMPRINT</a
    >
    <LoginButton client:visible />
  </p>
</div>

<style>
  #footer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font:
      12px/18px D-DIN-Bold,
      Arial,
      Verdana,
      sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #979797;
    padding: 20px 0;
  }
  p {
    position: relative;
    font:
      20px/38px D-DIN-Medium,
      Arial,
      Verdana,
      sans-serif;
    color: #ffffff;
    margin: 0px !important;
  }
  #footer span {
    font-size: 12px;
    margin: 0 20px;
  }
  #footer a.social {
    display: inline-block;
    margin: 0 20px;
  }
  #footer :global(a) {
    font:
      12px/24px D-DIN-Bold,
      Arial,
      Verdana,
      sans-serif;
    font-weight: 400;
    color: #fff;
  }
</style>
