---
// const clientId =
//   "362081384026-k7jclf68lclap0am9qocuoojons27j1d.apps.googleusercontent.com";
// const redirectUri = getQualifiedUrl() + "/api/auth/google/callback";

// const googleAuthUrl = `https://accounts.google.com/o/oauth2/v2/auth?client_id=${clientId}&redirect_uri=${redirectUri}&response_type=code&scope=openid%20email%20profile&access_type=offline&prompt=consent`;
---

<div id="footer" role="navigation">
  <p>
    <a href="/imprint" aria-label="Imprint and contact info" class="social"
      >IMPRINT</a
    >
  </p>
</div>

<style>
  #footer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font:
      12px/18px D-DIN-Bold,
      Arial,
      Verdana,
      sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #979797;
    padding: 20px 0;
  }
  p {
    position: relative;
    font:
      20px/38px D-DIN-Medium,
      Arial,
      Verdana,
      sans-serif;
    color: #ffffff;
    margin: 0px !important;
  }
  #footer span {
    font-size: 12px;
    margin: 0 20px;
  }
  #footer a.social {
    display: inline-block;
    margin: 0 20px;
  }
  #footer a {
    font:
      12px/24px D-DIN-Bold,
      Arial,
      Verdana,
      sans-serif;
    font-weight: 400;
    color: #fff;
  }
</style>
