---
import Layout from "../layouts/Layout.astro";
import background from "../assets/image.webp";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
---

<Layout>
  <Header />
  <img
    src={background.src}
    alt=""
    fetchpriority="high"
    id="background"
    style="object-fit: cover"
  />
  <!-- <img
    src={background.src}
    alt=""
    fetchpriority="high"
    id="background"
    style="object-fit: cover"
  /> -->

  <div class="inner-left-bottom">
    <h1>CODE Space Program</h1>
    <p>
      <a
        href="https://code.berlin"
        aria-label="Page with all past and future launches"
        target="_blank">CODE</a
      > project about building rockets from scratch
    </p>
  </div>

  <!-- <VehicleStats /> -->

  <!-- <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/3KePcASD0NQ?si=F5SwQ74Ko9KXhTvF"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe> -->

  <Footer />
</Layout>

<style>
  #background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  a {
    color: #fff;
    text-decoration: underline;

    font-weight: 700;
  }
</style>
