---
import Layout from "../layouts/Layout.astro";
import Chart from "../components/Chart";
import background from "../assets/rocket.jpg";
import Charts from "../components/Charts";
import { FlightControls } from "../components/FlightControls";
---

<Layout>
  <img src="/logo.svg" alt="Astro logo" width="200" />
  <img src={background.src} alt="Rocket" fetchpriority="high" id="background" />

  <div style="width: 100vw; height: 40vh">
    <!-- <Charts client:visible /> -->

    <FlightControls client:visible />
  </div>
</Layout>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
</style>
